html * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font: 14pt/1.5em sans-serif;
  height: 100%;
}

.navbar {
  color: #eee;
  height: 8em;
  width: 100%;
  padding: 1em 15em;
  background: #222;
}

.navbar .logo,
.navbar nav {
  display: inline-block;
}

.navbar nav {
  float: right;
}

.navbar nav a {
  display: inline-block;
  color: #09f;
  text-decoration: none;
  padding-left: 1em;
}

.page {
  padding: 1em 15em;
  overflow-y: scroll;
  height: calc(100vh - 8em);
}

.page p {
  margin-bottom: 1.5em;
}